body{
background: lightcoral;    height: 100vh;
    width: 100%;

}
h1{
    font-family: cursive;
    color: black;
    
}
img{
    width: 300px;
    height: 300px;
}

img{
    margin: 0 auto;
    display: inline-block;
    border:solid black 3px;
    float: left;
    margin: 10px;
    transition: transform .5s;
}

img:hover{
    transform: scale(1.02);
    }

    


@media screen and (max-width:600px){
    img{
        margin: 0 auto;
        margin-top: 10px;float: none;display: block;
    }
    body{
        height: 100%;
    }
}

